{% extends 'base.html' %}

{% block css %}
<style>
    * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: Arial;
    }
    
    /* The grid: Four equal columns that floats next to each other */
    .column {
      float: left;
      width: 25%;
      padding: 10px;
    }
    
    /* Style the images inside the grid */
    .column img {
      opacity: 0.8; 
      cursor: pointer; 
      border: 1px solid #ccc;
    }
    
    .column img:hover {
      opacity: 1;
      border: 1px solid #777;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    

    /* Expanding image text */
    #imgtext {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: white;
      font-size: 20px;
    }
    
    /* Closable button inside the expanded image */
    .closebtn {
      position: absolute;
      top: 10px;
      right: 15px;
      color: white;
      font-size: 35px;
      cursor: pointer;
    }
    .imgrid{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }
    .image{
      position: relative;
    }
    .delete-icon{
      position:absolute;
      top:.2rem;
      right: .2rem;
    }

</style>
{% endblock %}

{% block body %}
{% include "notify.html" %}
<div class="container">
  <div class="p-5 mb-4 rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom View</h1>
      <p class="col-md-8 fs-4">Create your own Virtual Tour (VT) by clicking the below button.</p>
      <a href="/cube" class="btn btn-primary btn-lg" type="button">create Tour</a>
    </div>
  </div>
  <div class="row imgrid">
    {% for image in imglist %}
        <div class="image">
          <img src="{{image}}" class="img-fluid shadow-sm" alt="">
          <a href="/remove/{{image.id}}" class="btn btn-danger btn-sm delete-icon"><i class="fa fa-trash"></i> delete</a>
        </div>
    {% endfor %}
    
  </div>
</div>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}